interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.monzo.com/accounts
  response:
    content: "{\"accounts\":[{\"id\":\"acc_00009superSecretAccountID1\",\"closed\":true,\"created\":\"2015-01-01T12:38:56.029Z\",\"description\":\"user_00009superSecretUserID\",\"type\":\"uk_prepaid\",\"currency\":\"GBP\",\"country_code\":\"GB\",\"owners\":[{\"user_id\":\"user_00009superSecretUserID\",\"preferred_name\":\"Bender
      Rodríguez\",\"preferred_first_name\":\"Bender\"}]},{\"id\":\"acc_00009superSecretAccountID2\",\"closed\":false,\"created\":\"2020-01-01T02:55:36.497Z\",\"description\":\"user_00009superSecretUserID\",\"type\":\"uk_retail\",\"currency\":\"GBP\",\"country_code\":\"GB\",\"owners\":[{\"user_id\":\"user_00009superSecretUserID\",\"preferred_name\":\"Bender
      Rodríguez\",\"preferred_first_name\":\"Bender\"}],\"account_number\":\"12345678\",\"sort_code\":\"040004\",\"payment_details\":{\"locale_uk\":{\"account_number\":\"12345678\",\"sort_code\":\"040004\"}}}]}\n"
    headers:
      Content-Type:
      - application/json
      Opentracing-Id:
      - 506aa1f8b4179759
      Trace-Id:
      - 98e2ac6d-7bd9-4bc0-773d-1c60f65fed58
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.monzo.com/pots?current_account_id=aacc_00009superSecretAccountID2
  response:
    content: '{"pots":[{"id":"pot_00009superSecretPotID1","name":"Savings","style":"investec_blue","balance":0,"currency":"GBP","goal_amount":100000,"type":"flexible_savings","product_id":"Investec_2018-09-01","current_account_id":"aacc_00009superSecretAccountID2","cover_image_url":"https://public-images.monzo.com/pots/gallery_covers/deprecated_colors/investec_blue.png","isa_wrapper":"","round_up":false,"round_up_multiplier":null,"is_tax_pot":false,"created":"2018-11-28T05:48:57.373Z","updated":"2020-07-11T00:04:10.745Z","deleted":true,"locked":false,"available_for_bills":false,"has_virtual_cards":false},{"id":"pot_00009superSecretPotID3","name":"Savings","style":"coin_jar","balance":0,"currency":"GBP","goal_amount":100000,"type":"flexible_savings","product_id":"Paragon_2019-07-25_Easy_Access","current_account_id":"aacc_00009superSecretAccountID2","cover_image_url":"https://public-images.monzo.com/pots/gallery_covers/coin_jar.jpg","isa_wrapper":"","round_up":false,"round_up_multiplier":null,"is_tax_pot":false,"created":"2019-10-01T22:15:58.383Z","updated":"2022-07-22T16:14:50.519Z","delet[...]
