interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.monzo.com/pots
  response:
    body: {string: "{\"pots\":[{\"id\":\"pot_REDACTED\",\"name\":\"REDACTED\",\"style\":\"blue_shards\",\"balance\"\
      :12345,\"currency\":\"GBP\",\"created\":\"2017-12-09T09:57:39.353Z\",\"updated\":\"2018-01-25T11:11:41.12Z\",\
      \"deleted\":false}]}"}
    headers:
      Content-Type: [application/json]
      Trace-Id: [1869982d-de71-4e99-6409-0d64f21d0459]
    status: {code: 200, message: OK}
version: 1
