interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.monzo.com/accounts
  response:
    body: {string: "{\"accounts\":[{\"id\":\"acc_REDACTED\",\"created\"\
        :\"2010-01-01T12:00:00.000Z\",\"description\":\"Bender Rodriguez\",\"type\"\
        :\"uk_prepaid\"}]}"}
    headers:
      Content-Type: [application/json]
      Trace-Id: [ec4b861b-d42f-44a6-6995-c8ae4ce37fb1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.monzo.com/balance?account_id=acc_REDACTED
  response:
    body: {string: '{"balance":1567,"currency":"GBP","spend_today":0,"local_currency":"CAD","local_exchange_rate":1.653504,"local_spend":[]}'}
    headers:
      Content-Type: [application/json]
      Trace-Id: [fec18f53-de37-452c-45d3-541da8fa1751]
    status: {code: 200, message: OK}
version: 1
