interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.monzo.com/accounts
  response:
    content: "{\"accounts\":[{\"id\":\"acc_00009superSecretAccountID1\",\"closed\":true,\"created\":\"2015-01-01T12:38:56.029Z\",\"description\":\"user_00009superSecretUserID\",\"type\":\"uk_prepaid\",\"currency\":\"GBP\",\"country_code\":\"GB\",\"owners\":[{\"user_id\":\"user_00009superSecretUserID\",\"preferred_name\":\"Bender
      Rodríguez\",\"preferred_first_name\":\"Bender\"}]},{\"id\":\"acc_00009superSecretAccountID2\",\"closed\":false,\"created\":\"2020-01-01T02:55:36.497Z\",\"description\":\"user_00009superSecretUserID\",\"type\":\"uk_retail\",\"currency\":\"GBP\",\"country_code\":\"GB\",\"owners\":[{\"user_id\":\"user_00009superSecretUserID\",\"preferred_name\":\"Bender
      Rodríguez\",\"preferred_first_name\":\"Bender\"}],\"account_number\":\"12345678\",\"sort_code\":\"040004\",\"payment_details\":{\"locale_uk\":{\"account_number\":\"12345678\",\"sort_code\":\"040004\"}}}]}\n"
    headers:
      Content-Type:
      - application/json
      Opentracing-Id:
      - 58c0c60bb6ef94db
      Trace-Id:
      - 56c6329a-8385-46fb-4beb-5d709eae4e3c
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.monzo.com/balance?account_id=acc_00009superSecretAccountID2
  response:
    content: '{"balance":27843,"total_balance":47844,"balance_including_flexible_savings":47844,"currency":"GBP","spend_today":0,"local_currency":"","local_exchange_rate":0,"local_spend":[]}

      '
    headers:
      Content-Type:
      - application/json
      Opentracing-Id:
      - 4b832c506cffad02
      Trace-Id:
      - 5af3f5ce-dc47-4e50-74d3-ceab4871a0e6
    status_code: 200
version: 1
