interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.monzo.com/accounts
  response:
    content: "{\"accounts\":[{\"id\":\"acc_00009superSecretAccountID1\",\"closed\":true,\"created\":\"2015-01-01T12:38:56.029Z\",\"description\":\"user_00009superSecretUserID\",\"type\":\"uk_prepaid\",\"currency\":\"GBP\",\"country_code\":\"GB\",\"owners\":[{\"user_id\":\"user_00009superSecretUserID\",\"preferred_name\":\"Bender
      Rodríguez\",\"preferred_first_name\":\"Bender\"}]},{\"id\":\"acc_00009superSecretAccountID2\",\"closed\":false,\"created\":\"2020-01-01T02:55:36.497Z\",\"description\":\"user_00009superSecretUserID\",\"type\":\"uk_retail\",\"currency\":\"GBP\",\"country_code\":\"GB\",\"owners\":[{\"user_id\":\"user_00009superSecretUserID\",\"preferred_name\":\"Bender
      Rodríguez\",\"preferred_first_name\":\"Bender\"}],\"account_number\":\"12345678\",\"sort_code\":\"040004\",\"payment_details\":{\"locale_uk\":{\"account_number\":\"12345678\",\"sort_code\":\"040004\"}}}]}\n"
    headers:
      Content-Type:
      - application/json
      Opentracing-Id:
      - 40ec0c0e8c5709a7
      Trace-Id:
      - 0fa12c5b-4488-40f4-79c2-cad23b3bb8cb
    status_code: 200
version: 1
